### <%= chartTitle %>

<a href="https://antv-g2plot.gitee.io/zh/examples<%= apiPath %>/API" target="_blank">配置</a>

```tsx
import React, { useState, useEffect } from 'react';
import { <%= chartName %> } from '@ant-design/charts';

const Demo<%= chartName %>: React.FC = () => {
  <%- chartContent.toString() %>
  return <<%= chartName %> {...config} />;
};

export default Demo<%= chartName %>;
```

